/* =============================================== /*
/*                                                 /* 
/*     Animate CSS : http://daneden.me/animate     /*
/*                                                 /*
/* =============================================== */

body {
  background: url("../images/background.jpg");
  font: 15px/150% Georgia, "Times New Roman", Times, serif; }

@-webkit-keyframes flipInX {
  0% { -webkit-transform: perspective(400px) rotateX(90deg); }

  30% { -webkit-transform: perspective(400px) rotateX(-10deg); }

  70% { -webkit-transform: perspective(400px) rotateX(10deg); }

  100% { -webkit-transform: perspective(400px) rotateX(0deg); } }

@-moz-keyframes flipInX {
  0% { -moz-transform: perspective(400px) rotateX(90deg); }

  30% { -moz-transform: perspective(400px) rotateX(-10deg); }

  70% { -moz-transform: perspective(400px) rotateX(10deg); }

  100% { -moz-transform: perspective(400px) rotateX(0deg); } }

@-o-keyframes flipInX {
  0% { -o-transform: perspective(400px) rotateX(90deg);
       opacity: 0; }

  30% { -o-transform: perspective(400px) rotateX(-10deg); }

  70% { -o-transform: perspective(400px) rotateX(10deg); }

  100% { -o-transform: perspective(400px) rotateX(0deg); } }

@keyframes flipInX {
  0% { transform: perspective(400px) rotateX(90deg);
       opacity: 0; }

  30% { transform: perspective(400px) rotateX(-10deg); }

  70% { transform: perspective(400px) rotateX(10deg); }

  100% { transform: perspective(400px) rotateX(0deg); } }

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill: both;
  -moz-animation-fill: both;
  -ms-animation-fill: both;
  -o-animation-fill: both;
  animation-fill: both; }

.flipInX {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  -ms-animation-name: flipInX;
  -o-animation-name: flipInX;
  animation-name: flipInX; }