@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url(http://themes.googleusercontent.com/static/fonts/satisfy/v3/ch7X2unYkww0EzsjlC3m8w.woff) format('woff');
}
@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Gochi Hand'), local('GochiHand-Regular'), url(http://themes.googleusercontent.com/static/fonts/gochihand/v4/ZZzTGmufF-Wq8IS3fkpBuxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}